h2 {
    padding: 30px;
    background-color: #e1e2e3;
    color: black;
    text-align: center;
    font-family: Courier
    }

h4 {
    color: black;
    text-align: center;
    font-family: Courier
    }

h5 {
    background-color: #e1e2e3;
    color: black;
    font-size: 10px;
    font-family: Courier;
    text-align: center;
    padding-bottom:10px;
    padding-top:10px;
    }

body {
    background-color: #e1e2e3;
    color: black;
    font-family: Courier;
    text-align: left;
    }

img {
    padding: 0px;
    }

.hero-image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.vox-cdn.com/thumbor/0CdbJ1xXkksnBN51z-VncN3fLJg=/0x0:1500x1001/1920x0/filters:focal(0x0:1500x1001):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/19294585/05_Kensinger_east_side_resiliency_DSC_9002.jpg");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

body, html {
    height: 100%;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://live.staticflickr.com/3706/19423913730_2061687974_b.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    }

h1 {
    text-align: center;
    font-family: Courier;
    padding-top:50px;
    padding-bottom:50px;
    font-weight:bold;
    color:#343A40;
    background: lightgrey;
    }

h7 {
    text-align: center;
    font-family: Courier;
    color:white;
    font-size: 60px;
    }

h8 {
    text-align: center;
    font-family: Courier;
    color:white;
    font-size: 55px;
    }
.footer {
  background-color: #343A40;
  padding: 50px;
}